// app global css in SCSS form

* {
  box-sizing: border-box;
  font-family: $font-family;
}

body {
  background-color: #f7f8fe;
}

.global-header {
  background-color: $primary-dark;
  height: 50px;
  padding: 0 18px;
  justify-content: space-between;
}
.page-body {
  background-color: #f7f8fe;
}
.error-msg {
  color: $negative;
}

.primary-btn {
  background-color: $primary-base;
  color: #fff;
  height: 40px;
  .q-btn__content {
    font-size: 15px;
  }
  &.sign-in.disabled {
    background-color: #edeef8;
    color: #a9abc1;
  }
}

.q-field {
  .q-field__bottom {
    padding: 4px 0 8px 0;
  }
}

.font-color-primary {
  color: $primary-base;
}

.font-weight-500 {
  font-weight: 500;
}
